@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@import "./theme.css";

* {
	@apply scrollbar-hide;
}

body {
	@apply bg-rp-base text-rp-text;
}

.cursor {
	display: inline-block;
	margin-left: 2px;
	animation: blink 1s steps(1) infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
